$primaryBackground: #212121;
$primaryText: #ececec;
$headerFont: 'Secular One', sans-serif;
$contentFont: 'Open Sans', sans-serif;
$accentColor: #F4B942;
$accentColorSecondary: #758BFD
//old accent 800080
//#AEB8FE