@import "./assets/variables.scss";


@mixin outerGridSystem() {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}
@mixin innerGridSystem() {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

* {
  margin: 0;
  padding: 0
}

section {
  background: $primaryBackground;
  color: $primaryText;
  min-height: 100vh;
}

.sectionWrapper {
  @include outerGridSystem();
  .sectionContent {
    grid-column: 2 / 3;
    @include innerGridSystem();
  }
 }
 

 