@import "../../assets/variables.scss";

.aboutPageContent {

    padding-top: 5rem;
    font-family: $contentFont;
    .description {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .leftColumn {
            grid-column: 1/3;
            font-size: 1.2em;
            p {
                line-height: 1.3em;
                margin-bottom: 2rem;
            }
        }
        .rightColumn {
            display: flex;
            justify-content: right;
    
            .aboutImageWrapper {
                height: 100%;
                width: 100%;
                margin-left: 2rem;
    
                img {
                    width:100%
                }
                p {
                    text-align: right;
                }
            }
        }
    }
    .toolsSkills {
        .skillItems {
            border-left: 2px solid $primaryText;
            border-right: 2px solid $primaryText;
        }
    }
    .skillsWrapper {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
         
        h2 {
            grid-column: 1/-1;
            margin-bottom: 3rem;
            font-family: $headerFont;
            letter-spacing: 2px;
        }
        .skillWrapper {
            &:nth-child(3){
                text-align: center;
                 
            }
            &:nth-child(4) {
                text-align: right;
                 
            }
            h3 {
                margin-bottom: 2rem;
            }
            
            .skillItems {
                
                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;   
                 div {
                    text-align: center;
                    margin-bottom:1rem;
                    transition: 0.2s ease;
                    cursor: pointer;
                    svg {
                        font-size: 3rem;
                    }
                    i {
                        font-size: 3rem;
                       
                    }
                    &:hover {
                        color: $accentColor;
                        transform: scale(1.1);
                    }
                }
               
            }
        }
         
    }
    
}
 
@media  (max-width: 575px) {
    .aboutPageContent {
        .description {
            grid-template-columns:  1fr;
            .leftColumn {
                grid-column: 1 /2;
            }
            .rightColumn {
                .aboutImageWrapper {
                    width:75%;
                    margin: 0 auto 2rem;
                }
            }
        }
        .skillsWrapper {
             .skillItems {
                grid-template-columns: 1fr   !important;
            }
        }
    }
    
}

@media (min-width: 576px) and (max-width: 767px) {
    .aboutPageContent {
         .description {
            grid-template-columns:   1fr;
            .leftColumn {
                grid-column: 1 /2;
            }
            .rightColumn {
                .aboutImageWrapper {
                    width:60%;
                    margin: 0 auto 2rem;
                }
            }
        }
        .skillsWrapper {
             .skillItems {
                grid-template-columns: 1fr 1fr !important;
            }
        }
    } 
}

@media (min-width: 768px) and (max-width: 991px){
    .aboutPageContent {
         
        .description {
            grid-template-columns: 5fr 3fr;
            .leftColumn {
                grid-column: 1 /2;
            }
        }
        .skillsWrapper {
             .skillItems {
                grid-template-columns: 1fr 1fr !important;
            }
        }
    } 
}

@media (min-width: 992px) and (max-width: 1200px) {
     
}

 
// @media  (max-width: 575px) {
 
// }

// @media (min-width: 576px) and (max-width: 767px) {

// }

// @media (min-width: 768px) and (max-width: 991px){

// }

// @media (min-width: 992px) and (max-width: 1200px) {
 
// }